.about_main{
    padding: 200px;
    height: 400px;

    display: flex;
    
}

.my_pic >img{
    height: 400px;
    width: 400px;
}


.my_description{
    height: fit-content;
    width: 500px;
    padding: 200px;
}