body {
    background-color: rgb(215, 216, 233);
    margin: 0px;
    font-family: 'Comfortaa', cursive;
    height:100%px;
    position: relative;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    background-size: cover;
    min-height: 100%;
}

h1 {
    font-weight: lighter;
    color: rgb(254,183,1);
    font-size: 30px;
}

p{
    font-weight: normal;
    color:  rgb(245, 245, 245);
    margin-top: 10px;
    line-height: 1.4em;
}
