
body {
    position: relative;
    background-color: rgb(215, 216, 233);
    margin: 0;
    font-family: 'Comfortaa', cursive;
    height: 100%;
    /* overflow: hidden; */
}


 

html{
    height: 100%;
}


h1 {
    font-weight: lighter;
    color: rgb(254,183,1);
    font-size: 40px;
}
