.index_container {
    background-color: rgb(40, 44, 52);
    display: grid;
    grid-template-columns: 1fr;
    background-size: cover;

}

body {
    background-color: rgb(215, 216, 233);
    margin: 0px;
    font-family: 'Oxygen';
    height:auto;

}

h1 {
    font-weight: lighter;
    color: rgb(254,183,1);
    font-size: 30px;
}