.index_container {
    background-color: rgb(40, 44, 52);
    position: relative;
    background-size: cover;
    height: 100%;
}

 body {
    background-color: rgb(215, 216, 233);
    margin: 0px;
    font-family: 'Comfortaa', cursive;
    height: 100%;
}

html{
    height: 100%;
}


h1 {
    font-weight: lighter;
    color: rgb(254,183,1);
    font-size: 40px;
}

#background{
    width: 100%;
}