.index_main{
    height: 100%;
}

.top_grid {
    position: absolute;
    font-size: 1.3em;
    padding-left: 0px;
    height: 100%;
    width: 40%;
    background-color:  rgb(216, 216, 233);
}

#main_logo{
    
    width: 100%;
    height: 580px;
    text-align: center;
}



.big{
    
    position: absolute;
    width: 460px;
    height: auto;
    display: block;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-60%);

}
#big_white{
    z-index: 0;
    position: fixed;
    height: 2400px;
    transform: translate(-1000px,-250px);
   
}

#big_back{
    width: 461px;
    height: auto;
}



#orange{

    position: absolute;
    
    width: 458px;
    height: 458px;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(-30deg,rgb(254,204,0),rgb(254,204,0),rgb(254,204,0),rgb(244,108,1),rgb(244,108,1),rgb(244,108,1));
    animation: change 5s ease-in-out infinite;
    background-size: 600% 600%;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}


.hello_left_box{
    
    margin-top: 120px;
    z-index: 1;
    width: 100%;
    height: 116px !important;
    padding: 30px;
    border-right: 6px solid rgb(254,183,1);
    background-color:rgb(32, 35, 42) ;
    
}

.project_box{
    z-index: 1;
    padding-top: 100px;

    
}

.orange_text{ 
    font-weight: lighter;
    font-size: 32px;
    color:  rgb(254,183,1);
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.4em;
    
}

#word{
    font-family: 'Source Code Pro';
    font-weight: 1000 !important;
    font-size: 50px  !important;
    color:  rgb(32, 35, 42);
    background-color: rgb(245, 245, 245);
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.links {
    width:  300px ;
    height: 60px;
    border-radius: 4px;
    background-color: rgb(32, 35, 42);
}

.logo_grid {
    
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 60px;
    height: 100%;
}


.logo{
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
}

.logo > img{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.email{
    font-weight: 100;
    font-size: 20px;
    color:  rgb(245, 245, 245);
    padding-top: 20px;
}

* {
    margin: 0;
    padding: 0;
}

