body {
    background-color: rgb(215, 216, 233);
    margin: 0px;
    font-family: 'Oxygen', sans-serif;
    height:auto;

}

.container {
    display: grid;
    grid-template-columns: 1fr;
    background-size: cover;

}

/* Navigation Bar */
.nav_bar {
    position: sticky;
    z-index: 1;
    top: 0;
    height: 40px;
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 15px;
    background-color: rgb(32, 35, 42);
}   
.main_logo {
    width: 256px;
    transform: translateY(-25px) !important;
}

.main_logo >img{
    width: 100%;
}

.nav_bar >
.left_side {
    display: flex;
}


.left_side > div {
    transform: translateY(-10px);
    font-size: 1.5em;
    padding: 20px;
    margin-right: 10px;
}

.button_wrapper {
    height: 22px;

}

.button_wrapper a {
    color: rgb(215, 216, 233);
    text-decoration: none;
}

.button_wrapper a:hover {
    color:rgb(254,183,1);
}

.active_button_wrapper {
    border-bottom: 3px solid rgb(254,183,1);
}

.active_button_wrapper a {
    color:rgb(254,183,1);
    /* #f16841; */
}






/* Middle Box */

.top_grid {
    background-color: rgb(40, 44, 52);
    height: 600px;
    font-size: 1.3em;
    padding: 100px;
    padding-left: 350px;
    padding-right: 350px;
}



p {
    font-weight: normal;
    color:  rgb(215, 216, 233);
    margin-top: 10px;
    line-height: 1.4em;
}

.links {
    width:  320px ;
    height: 80px;
    border-radius: 4px;
    background-color: rgb(254,183,1);
}

.logo_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;

}


.logo{
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    margin: 16px;

}

.logo > a{
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#discord:hover{
    
    content: url('Logos/discord_orange.png');
    
    
}

/* Middle grid */

.middle_grid {
    background-position: center;
    color: rgb(254,183,1);
    margin-left: 200px;
    margin-right: 200px;
}



.about_grid {
    background-position: center; 
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-size: cover; */
    height: 700px;
    margin-top: 200px;
    margin: 100px;
}

.left_art{
    width: 800px;
}

.left_art >img {
    border-radius: 6px;
    width:100% !important;
    box-shadow:   0 0 10px #000000;
}

/* Projects */

.project_description{
    background-color: rgb(40, 44, 52);
    height: fit-content;
    font-size: 1.3em;
    padding-bottom: 40px;
    padding-left: 350px;
    padding-right: 350px;
}

#categories{
    font-size: 50px;
    margin-bottom: 0px;
    font-weight: 200;
}

/* category grid */


.category_grid{
    justify-content: center;
    background-position: center;
    display: grid;
    grid-template-rows: 360px;
    grid-template-columns: 360px 360px 360px 360px;
    grid-gap: 100px;
    margin-top: 100px;
}

.category{
    width: 100%;
    position: relative;
    /* z-index: -1; */
}

.logo_background{
    outline-width: 10px ;
    background-color: rgb(245, 245, 245);
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.logo_background::after{
    content: '';
    position: absolute;
    top: calc(-1 *10px);
    left: calc(-1 *10px);
    height: calc(100% + 10px *2);
    width: calc(100% + 10px *2);
    background: linear-gradient(-30deg,rgb(254,204,0),rgb(254,204,0),rgb(254,204,0),rgb(244,108,1),rgb(244,108,1),rgb(244,108,1));
    z-index: -1;
    animation: change 10s ease-in-out infinite;
    background-size: 600% 600%;
}
#java > img {
    max-height: 100%;
    max-width: 100%;
    height: 300px;
    width:auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#origami >img{

    /* display: block; */
    max-height: 100%;
    max-width: 100%;
    width: 300px;
    height:auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#draw >img{
    /* display: block; */
    max-height: 100%;
    max-width: 100%;
    height: 300px;
    width:auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#painting >img{
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: 300px;
    height:auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#sculp >img{
    display: block;
    max-height: 100%;
    max-width: 100%;
    height: 300px;
    width:auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#java >img{
    display: block;
    max-height: 100%;
    max-width: 100%;
    height: 300px;
    width:auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#pixel > img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    height: 300px;
    width:auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* .img_darken {
    transition: 2s;
    transform: translateX(-20px);
    padding-left: 20px;
    padding-right: 20px;
   filter: brightness(10%);
} */

.img_widen {
    transition: 0.5s;
    transform: translateX(-60px);
    padding-left: 60px;
    padding-right: 60px;
    /* padding-bottom: 120px; */
    /* filter: grayscale(100%); */
}

.img_shrink {
    transition: 0.1s;
    padding-left: 0px;
    padding-right: 0px;
}



#logo_title {
    text-align: left;
    font-size: 2em;
    margin-top: 10px;
    color: rgb(40, 44, 52);
    margin-top: 20px;
    padding-left: 40px;
}

.category_grid a{
    text-decoration: none;
}


.text_right{
    transition: 0.5s;
    transform: translateX(60px);
}

.text_left{
    transition: 0.5s;
    /* transform: translateX(-60px); */
}

/* Origami */

.category_description{
    background-color: rgb(40, 44, 52);
    height: 800px;
    width: 100%;
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
}

.category_box{
    height: 300px;
    width: 500px;
    padding: 200px;
    padding-right: 0px;
    
}

.category_background{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width:1000px;
    height: 700px;
    margin: 50px;
    margin-right: 200px;

}

.item_grid{
    justify-content: center;
    background-position: center;
    display: grid;
    grid-template-rows: 360px ;
    grid-template-columns: 360px 360px 360px 360px;
    grid-gap: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.item_wrapper{
    cursor: pointer;
    width: 100%;
    height: 100% !important;
    position: relative;
    padding: 0;
    border: none;
    background: none;
    z-index: 0;
    filter: saturate(0.8);
    /* outline: 4px solid rgb(254,183,1); */
    
}


.item_background {
    height: 100% ;
    width: 100%;
}



.item_background >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item_background_invis{
    display: none;
}

#item_title {
    position: absolute;
    top: 0;
    width: 360px;
    text-align: center;
    height: 40px;
    margin-bottom: 160px;
    margin-top: 160px;

  }

  /* .origami_wrapper >h3{
      color: transparent;
  } */


.img_darken{
    transition: 0.2s;
    filter: grayscale(100%) brightness(20%);
    
}

.img_lighten{
    transition: 0.2s;
    filter: grayscale(0%) brightness(100%);
}

.reveal_text{
    transition: 0.5s;
    color: white;
    
}

.hide_text{
    transition: 0.5s;
    color: transparent;
}

/* popup */

.popup {
    
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.5s ease-in-out;
    /* border: 10px solid rgb(254,183,1); */
    z-index: 3;
    background-color: rgb(245, 245, 245);
    width: auto;
    height:600px;
    max-width: 1000px;
    margin: 0;
    padding: 0;
    display: inline-flex;
    
}

.popup.active{
    transform: translate(-50%, -50%) scale(1);
}

.popup_left{
    max-width: 1000px;
    display: inline-flex;
}

.popup_background{
    float: left;
    height: 100%;
    background-color: rgb(215, 216, 233);
    
}

.popup_background >img{
    display: inline-table;
    /* width: 100%; */
    height: 100%;
    object-fit: scale-down;
}

.popup_right{
    background-color: rgb(245, 245, 245);
    min-width: 400px;
    width: 400px !important;
    height: 100%;  
    
}

.popup_text {
    padding-top: 15px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.popup_description{
    color: rgb(32, 35, 42);
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 40px;
    border-bottom: 2px solid rgb(254,183,1);
}

.popup_size{
    padding-top: 15px;
    color: rgb(40, 44, 52);
    font-weight: 300;
    font-size: 15px;
    padding-bottom: 20px;
}

.popup_date{
    color: rgb(40, 44, 52);
    font-weight: 300;
    font-size: 15px;
}

.header {
    background: linear-gradient(-30deg,rgb(254,204,0),rgb(244,108,1),rgb(254,204,0),rgb(244,108,1));
    background-size: 400% 400%;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5em;
    font-weight: 100;
    color: rgb(40, 44, 52);
    height: 80px;
    animation: change 10s ease-in-out infinite;
    /* border-bottom: 2px solid rgb(32, 35, 42); */
}

.title{
    font-weight: 100;
    font-size: 30px;
}
.close_button {
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(32, 35, 42);
    padding-right: 40px;
}

.arrow{
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    position: fixed;
    top:50%;  
    pointer-events: none;
    transform: translate(0, -50%) scale(0);
    transition: 0.5s ease-in-out;
    z-index: 3;  
}

.arrow >img:hover{
    filter: grayscale(100%);
    transition: 0ms;
}


.arrow.active{
    pointer-events: all;
    transform: translate(0, -50%) scale(1);
}

.arrow > img{
    width: 100px;
}

#right_arrow{
    right: 15%;
    
}

#left_arrow{
    left: 15%;
    transform: translate(0, -50%) rotate(180deg) scale(0);
}

#left_arrow.active{
    transform: translate(0, -50%) rotate(180deg);

}

.close_button:hover{ 
    color: rgb(254,183,1);
}

#overlay {
    transition: 0.5s ease-in-out;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}


.item_description_invis{
    display: none;
}


.footer{
    background-color: rgb(32, 35, 42);
    width: 100%;
    height: 150px;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}

h1 {
    font-weight: bold;
    color: rgb(254,183,1);
}

h3 {
    color: transparent;
}

