#pane1{
    -fx-background-image: url("file:./assets/street_1.png");
    -fx-background-size: cover;
}

#pane2{
    -fx-background-image: url("file:./assets/street2.gif");
    -fx-background-size: cover;
}

#pane3{
    -fx-background-image: url("file:./assets/CACHOU.GIF");
    -fx-background-size: cover;
}

#exit{
    -fx-background-image: url("file:./assets/exit_street.png");
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-background-size: cover;
}

#full{
    -fx-background-image: url("file:./assets/full_street.png");
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-background-size: cover;
}

#minimise{
    -fx-background-image: url("file:./assets/minimise_street.png");
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
    -fx-background-size: cover;
}


.rectangle{
    -fx-background-image: url("file:./assets/lada.png");
    -fx-background-color: transparent;
    -fx-background-size: cover;
}

#mainMenu
{
    -fx-background-image: url("file:./assets/CACHOU.gif");
    -fx-background-size: cover;
}

#startButton{
    -fx-background-image: url("file:./assets/traffic_tile.png");
    -fx-background-color: transparent;
/*    -fx-text-fill: transparent;*/
    -fx-background-size: cover;
}

#menuPane{
    -fx-background-image: url("file:./assets/car_table.png");
    -fx-background-size: cover;
}

#start{
    background-color: aqua;
    -fx-background-size: cover;
}

#mirror{
    -fx-image: url("file:./assets/mirror.gif");
}

#lvl1Button:hover{
    -fx-background-image: url("file:./assets/lvl1_button_hover.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

#lvl1Button{
    -fx-background-image: url("file:./assets/lvl1_button.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

#lvl2Button:hover{
    -fx-background-image: url("file:./assets/lvl2_button_hover.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

#lvl2Button{
    -fx-background-image: url("file:./assets/lvl2_button.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

#lvl3Button:hover{
    -fx-background-image: url("file:./assets/lvl3_button_hover.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

#lvl3Button{
    -fx-background-image: url("file:./assets/lvl3_button.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

#red_light{
    -fx-image: url("file:./assets/red_light.png");   
}

#green_light{
    -fx-image: url("file:./assets/green_light.png");   
}

#lables .text{
    -fx-fill: #EBEBEB;
    -fx-effect: innershadow(gaussian,#343434,5,0.3,0,0);
}

#slider .track{
    -fx-pref-height: 16px;
    -fx-background-color: #1c1400;
    -fx-effect: innershadow(gaussian,#000,10,0.3,0,0);
}

#slider .thumb{
    -fx-background-radius: 0px;
    -fx-pref-height: 40px;
    -fx-pref-width: 20px;
    -fx-background-image: url("file:./assets/thumb.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

#blockCheck .text{
    -fx-fill: #a3a3a3;
}


#blockCheck {
/*    -fx-background-color: #1c1400;
    -fx-background-radius: 3px;*/
    -fx-effect: innershadow(gaussian,#000,10,0.5,0,0);
    -fx-pref-width: 120px;
    -fx-pref-height: 60px;
}

#blockCheck .box{
/*    -fx-translate-x: 5;*/
    -fx-pref-width: 120px;
    -fx-pref-height: 60px;
    -fx-background-image: url("file:./assets/off.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

#blockCheck:selected .box{
    
    -fx-background-image: url("file:./assets/on.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.check-box:selected .mark {
    -fx-background-color: transparent;
}

#checkLabel{
    -fx-background-color: #1c1400;
    -fx-background-radius: 3px;
    -fx-effect: innershadow(gaussian,#000,10,0.5,0,0);
}

#menuButton{
    -fx-background-image: url("file:./assets/menuButton.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-padding: 0px;
    
}

#title{
    -fx-image: url("file:./assets/logo_title.png");
}

#titleLabel .text{
/*    //-fx-fill: #DCDCDC; */
    -fx-stroke: #DCDCDC;
    -fx-stroke-width: 3px;
}

#end .text{
    -fx-stroke: #DCDCDC;
    -fx-stroke-width: 3px;
}








